<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="boat-card">
  <div class="banner-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @boat.photo.key, height: 300, crop: :fill %>')">
  </div>
  <div class="card-trip-infos">
    <div>
      <h2> <%= @boat.title %></h2>
      <p>Owner: <%= @boat.user.name %></p>
      <p><%= @boat.description %></p>
      <div class="Show-buttons">
        <div class="back-button">
          <%= link_to 'Back', boats_path %>
        </div>
        <% if current_user == @boat.user %>
        <div class="back-button">
        <%= link_to 'Edit', edit_boat_path(@boat) %>
        </div>
        <div class="back-button">
        <%= link_to 'Delete', boats_path,method: :delete %>
        </div>
        <% end %>
      </div>
    </div>
    <h2 class="card-trip-pricing"><%= @boat.price_per_day %>$</h2>
    </div>
  </div>
</div>
